.student{
    width: 20rem;
    height: 20rem;
    background-color: aqua;
}
.card-img-top{
    width: 100% !important; 
    height: 50% !important;
}
.card p {
    line-height: 1.1;
}
.card{
    /* height: 25rem; */
    background-color: #ced4da;
    color: black;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid black;
}
.img-div{
    width: 100%;
    height: 15rem;
}
.img-div img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid black;
    object-fit: cover;
}

 .manage > button {
    width: 50%;
 }
.manage{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}